*{
    box-sizing: border-box;
    margin: 0;
    padding:0;
}
     /* Button Styling */
     .btn-container button {
        padding: 12px 30px;
        font-weight: bold;
        background: linear-gradient(to right, #4CAF50, #8BC34A); /* Green gradient */
        color: white;
        border: none;
        border-radius: 30px;
        cursor: pointer;
        transition: background 0.3s ease, transform 0.2s ease;
    }

    /* Button Hover Effect */
    .btn-container button:hover {
        background: linear-gradient(to right, #388E3C, #7CB342); /* Darker green on hover */
        transform: translateY(-3px);
    }